.feature-container {
    display: flex;
    width: 440px;
    flex-wrap: wrap;
}

.slider-control {
    width: 400px;
}

.legend-container {
    width: 130px;
    padding-left: 20px;
}

.repetition-container {
    padding-bottom: 5px;
}

.negation-container {
    padding-bottom: 5px;
}

.sentiment-container {
    padding-bottom: 5px;
}

.ant-tag {
    margin-right: 2px
}