.meter {
    position: relative;
    background: grey;
    height: 20px;
    margin-left: -260px;
    opacity: 0;
}

.fill {
    display: block;
    height: 100%;
    position: relative;
    overflow: hidden;
    opacity: 0;
}

.progress-popover .ant-popover-arrow {
    display: none;
}

.popover-content > div{
    margin-bottom: 10px;
}